# hello, world!

**Basic Combined Programming Language (BCPL)** was designed by Martin Richards in 1967. A stripped-down version of BCPL is called as _B programming language_ and Brian Kernighamâ€™s 1972 book, _A Tutorial Introduction to the Language B_ first used the test-phrase "hello, world!". The previous tutorial in the book printed "hi!" and since, "hello, world!" required more characters, it was part of the next learning step within the book. Since then it is considered customary for programmers to print "hello, world!" as the first line of code when they are learning a new programming language.

Let's do it in Python :-)

In [1]:
# Your code below:
# -------------------

print("hello, world!")

hello, world!

**Output:** hello, world!

# Data types:

Basic data types in Python are,

1. _Numerical type_: integers, floats and complex numbers
2. _Characters/ Text type_: strings
3. _Truth or Falsehood type_: Boolean

### Integers, Floats and Complex Numbers

In [2]:
# Integers:
# ----------

inty = 10

print(inty)
print(type(inty))

10
<class 'int'>

In [3]:
# Floats:
# -------

floaty = 10.5

print(floaty)
print(type(floaty))

10.5
<class 'float'>

In [4]:
# Complex numbers:
# --------------------

complexy = 10 + 5j

print(complexy)
print(type(complexy))

print(complexy.real)
print(complexy.imag)

(10+5j)
<class 'complex'>
10.0
5.0

### Strings:

In [5]:
stringy = "Ingolstadt"

print(stringy)
print(type(stringy))

Ingolstadt
<class 'str'>

### Boolean:

In [6]:
booly = True

print(booly)
print(type(booly))

True
<class 'bool'>

# Values, Variable and Assignments:

### Task 1: 
Create a variable named **speed** and assign a value of **40** kmph to it and print the value.

In [7]:
# Your code below:
# -------------------

speed = 40

print(speed)

40

**Expected output:** 40

### Task 2: 
Create a variable named **car** and assign the **name of your favourite car** to it and print the value.

In [8]:
# Your code below:
# -------------------

car = "Lamborghini Huracan Performante"

print(car)

Lamborghini Huracan Performante

**Sample output:** Lamborghini Huracan Performante

### Task 3: 
Create a variable named as **wheel-base** and assign a value of **4.5** m to it and print the value.

**Note:** Keep in mind the rules for assigning names for variables.

In [9]:
# Your code below:
# -------------------

wheel_base = 4.5

print(wheel_base)

4.5

**Expected output:** 4.5

### Task 4: 

Print the **data type** of each of the above values. Use the **type()** function for the task.

In [10]:
# Data type of speed:
# ----------------------

print(type(speed))

<class 'int'>

**Expected output:** <class 'int'>

In [11]:
# Data type of car:
# -------------------

print(type(car))

<class 'str'>

**Expected output:** <class 'str'>

In [12]:
# Data type of wheel base:
# ---------------------------

print(type(wheel_base))

<class 'float'>

**Expected output:** <class 'float'>

# Operations on numbers:

### Task 1: 

Lamborghini Aventador has a wheel-base of **2.6** m and an average track-width of **1.7** m. The **Foot-print** of a car is the area covered by the four points of the car's wheels touching the ground and is given by the equation **foot-print = (wheel-base * track-width)**. Your task is to create two variables namely track-width and wheel-base and assign respective values to them. Write an equation to calcuate the foot-print and print the result.

**Note:** Keep in mind the rules for assigning names for variables.

In [13]:
# Your code below:
# -------------------

wheel_base = 2.6
track_width = 1.7

foot_print = (wheel_base * track_width)

print(foot_print)

4.42

**Expected output:** 4.42

### Task 2: 

**Time to collision (TTC)** of a vehicle is the time available for the vehicle to brake or execute a manoeuvre to avoid collision with the object in front. It is given by a simple formula, **TTC = distance of separation / current velocity of the vehicle**. Given the distance of separation between your Ferrari Roma and the Mini Cooper in front is **5** m and you are travelling at **2** m/s. Calculate the TTC and print it.

**Note:** Keep in mind the rules for assigning names for variables.

In [14]:
# Your code below:
# -------------------

distance = 5
velocity = 2

time_to_collision = distance / velocity

print(time_to_collision)

2.5

**Expected output:** 2.5

### Task 3:

The above task gives a value in Decimals. For the present task, try to get TTC value without a remainder.

In [15]:
# Your code below:
# -------------------

distance = 5
velocity = 2

time_to_collision = distance // velocity

print(time_to_collision)

2

**Expected output:** 2

### Task 4:

You have 10 friends and 2 Bentley Continental GTs. You are going to a party and each Bentley Continental GT can accommodate 4 people. How many of your friends will have to be left behind and will have to catch a bus? 

**Note:** You don't have to create any variables here. Use the print statement to display the result.

**Hint:** Solve it using the modulus **%** operator

In [16]:
# Your code below:
# -------------------

print(10 % (4*2))

2

**Expected output:** 2

### Task 5:

You are a billionaire who owns **10** BMW S1000RRs. You have **8** best friends and would like to gift each of them a BMW S1000RR. After this how many BMW S1000RRs will be left with you?

**Note:** You don't have to create any variables here. Use the print statement to display the result.

In [17]:
# Your code below:
# -------------------

print(10-8)

2

**Expected output:** 2

# String operations:

### Task 1:

Concatenate three string values namely, **I am studying** , **\<your course here\>** and **at THI**.

In [18]:
# Your code below:
# -------------------

print("I am studying" + " " + "International Automotive Engineering" + " " + "at Technische Hochschule Ingolstadt")

I am studying International Automotive Engineering at Technische Hochschule Ingolstadt

**Example Output:** I am studying International Automotive Engineering at THI

**Note:** How will you handle spacing between the strings?

### Task 2:

Create a variable named **sample** and assign a string value of **Yo** to it. Now multiply the string with 4 and print the value.

In [19]:
# Your code below:
# -------------------

sample = "Yo"

print(sample*4)

YoYoYoYo

**Expected output:** YoYoYoYo

### Task 3:

Can other mathematical operations be performed between a string and a number?

Create a variable named **sample** and assign a string value of **engineering** to it. Now try to use **+**, **-** and **/** operations with an integer **4**.

In [20]:
# Your code below:
# -------------------

**Solution:** None of the operations other than * work with a string

### Task 4:

Create a variable called **my_string** and give it a string value **I am in love with "Python"**. Print the string.

**Note:** Please pay attention to the double quotes **" "**. How will you handle it?

In [21]:
# Your code below:
# -------------------

## Solution 1:
## ------------

my_string = 'I am in love with "Python"'

print(my_string)

## Solution 2:
## ------------
print("I am in love with \"Python\"")

I am in love with "Python"
I am in love with "Python"

**Expected output:** I am in love with "Python"

### Task 5:

Create a variable called **my_car** and give it a string value **I would love to own a 'BMW'**. Print the string.

**Note:** Please pay attention to the single quotes **' '**. How will you handle it?

In [22]:
# Your code below:
# -------------------

## Solution 1:
## ------------
my_car = "I would love to own a 'BMW'"
print(my_car)

## Solution 2:
## ------------
print('I would love to own a \'BMW\'')

I would love to own a 'BMW'
I would love to own a 'BMW'

**Expected output:** I would love to own a 'BMW'

# Operator Precedence:

The operator precedence in Python follows the standard **BODMAS (Brackets, Order, Division, Multiplication, Addition and Subtraction)** rule. Other names are also used namely **PEMDAS (Parenthesis, Exponent, Multiplication, Division, Addition and Subtraction)** or **BIDMAS (Brackets, Indices, Division, Multiplication, Addition and Subtraction)** depending in the country of residence.

Try to solve the following tasks by hand and also using Python to see if Python is getting the results right :-p

### Task 1:

The formula for **tire diameter** is given as  **tire diameter = 2 x (section width x aspect ratio)/25.4 + rim diameter**. Let **section_width** be **235** mm, **aspect_ratio** be **0.35** amd **rim_diameter** be **19** inch. Write an expression to calcuate the **tire_diameter** and print the value.

**Hint:** Values can be directly substituted without any conversion.

In [23]:
# Your code below:
# -------------------

tire_diameter = 2 * (235 * 0.35) / 25.4 + 19

print(tire_diameter)

25.476377952755904

**Expected output:** ~ 25.5

### Task 2:

An Audi A8 has a **bore** of **0.845**m and a **stroke** of **0.89**m. The Volume of the cylinder is given be **volume = (3.14/4)\* boreÂ² * stroke**. Calculate the volume of the cylinder.

**Hint:** Values can be directly substituted without any conversion.

In [24]:
# Your code below:
# -------------------

bore = 0.845
stroke = 0.89

volume = (3.14/4) * (bore**2) * stroke 

print(volume)

0.49885356624999994

**Expected output:** ~ 0.49 m^3

## Additional note:

If you want to round-off the number of decimal places, please use the code below. Just replace 3f with the number of decimal places of your choice.

In [25]:
# Your code below:
# -------------------

bore = 0.845
stroke = 0.89

volume = (3.14/4) * (bore**2) * stroke

print("{:.3f}".format(volume))

0.499